openapi: 3.0.0

info:
    Title: Sentinel Threat Intelligence plugin
    Description: Performs API calls on the Sentinel API with OData filters
    Version: "v1"

servers:
    - url: https://management.azure.com
     
paths:
########################################################################################################
# Threat Intelligence Indicators - List
#    https://learn.microsoft.com/en-us/rest/api/securityinsights/threat-intelligence-indicators/list
########################################################################################################

#    /subscriptions/{{subscriptionId}}/resourceGroups/{{resourceGroupName}}/providers/Microsoft.OperationalInsights/workspaces/{{workspaceName}}/providers/Microsoft.SecurityInsights/threatIntelligence/main/indicators:

# Subscription: ea2133ed-40f7-465c-ba33-07882efc8bd0
# RG:           sentinel-prod-demo-april-2024
# Workspace:    sentinel-prod-eastus-april-2024

    /subscriptions/ea2133ed-40f7-465c-ba33-07882efc8bd0/resourceGroups/sentinel-prod-demo-april-2024/providers/Microsoft.OperationalInsights/workspaces/sentinel-prod-eastus-april-2024/providers/Microsoft.SecurityInsights/threatIntelligence/main/indicators:
        get:
            operationId: ListIndicators
            description: ListIndicators Lists Threat Intelligence Indicators
            summary: List Threat Intelligence Indicators 
            parameters:
                - in: query
                  name: api-version
                  required: true
                  description: API version (e.g. 2024-03-01)
                  schema:
                    type: string
                - in: query
                  name: $top
                  required: true
                  description: How many results do you want (e.g. 2)
                  schema:
                    type: string
                    default: '2'
            responses:
                "200":
                    description: OK
                "400":
                    description: Bad request, invalid parameters

###################################################################################################################
# Threat Intelligence Indicator - Query Indicators
#    https://learn.microsoft.com/en-us/rest/api/securityinsights/threat-intelligence-indicator/query-indicators
###################################################################################################################

# Subscription: ea2133ed-40f7-465c-ba33-07882efc8bd0
# RG:           sentinel-prod-demo-april-2024
# Workspace:    sentinel-prod-eastus-april-2024

#    /subscriptions/{{subscriptionId}}/resourceGroups/{{resourceGroupName}}/providers/Microsoft.OperationalInsights/workspaces/{{workspaceName}}/providers/Microsoft.SecurityInsights/threatIntelligence/queryIndicators:
    /subscriptions/ea2133ed-40f7-465c-ba33-07882efc8bd0/resourceGroups/sentinel-prod-demo-april-2024/providers/Microsoft.OperationalInsights/workspaces/sentinel-prod-eastus-april-2024/providers/Microsoft.SecurityInsights/threatIntelligence/main/queryIndicators:
      post:
        operationId: queryIndicators
        description: |
          q4-Retrieves threat intelligence indicators based on a keyword search.
          This Query returns threat intelligence indicators based on a keyword search. All entities from each object should be returned with data visibile as a table.
        parameters:
          - name: api-version
            in: query
            required: true
            description: The API version to use for this operation (eg. 2024-03-01).
            schema:
              type: string
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  keywords:
                    type: string
                    description: Keywords to search for threat intelligence indicators (e.g. F2EFE88C8041CCC776859C8B80FB981CF1CF9805B80FC66500738C223A88C713).

        responses:
          '200':
            description: Successfully retrieved the list of threat intelligence indicators.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    value:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Indicator resource ID.
                          name:
                            type: string
                            description: Indicator name.
                          etag:
                            type: string
                            description: ETag of the indicator resource.
                          type:
                            type: string
                            description: The type of the resource.
                          kind:
                            type: string
                            description: The kind of the indicator.
                            example: indicator
                          properties:
                            type: object
                            properties:
                              confidence:
                                type: integer
                                description: Confidence level of the indicator.
                              created:
                                type: string
                                description: Date the indicator was created.
                                format: date-time
                              createdByRef:
                                type: string
                                description: Reference to the creator of the indicator.
                              externalId:
                                type: string
                                description: External ID of the indicator.
                              externalLastUpdatedTimeUtc:
                                type: string
                                description: Last updated time from an external source.
                                format: date-time
                              externalReferences:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    description:
                                      type: string
                                      description: Description of the external reference.
                                    externalId:
                                      type: string
                                      description: ID for the external reference.
                                    sourceName:
                                      type: string
                                      description: Name of the external source.
                              labels:
                                type: array
                                description: Labels associated with the indicator.
                                items:
                                  type: string
                              lastUpdatedTimeUtc:
                                type: string
                                description: Last updated time of the indicator.
                                format: date-time
                              source:
                                type: string
                                description: Source of the threat intelligence indicator.
                              objectMarkingRefs:
                                type: array
                                description: List of marking definitions.
                                items:
                                  type: string
                              threatIntelligenceTags:
                                type: array
                                description: Tags associated with the indicator.
                                items:
                                  type: string
                              displayName:
                                type: string
                                description: Display name of the indicator.
                              description:
                                type: string
                                description: Description of the threat intelligence indicator.
                              threatTypes:
                                type: array
                                description: Types of threats the indicator is associated with.
                                items:
                                  type: string
                              parsedPattern:
                                type: array
                                description: The parsed pattern for the indicator.
                                items:
                                  type: object
                                  properties:
                                    patternTypeKey:
                                      type: string
                                    patternTypeValues:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          valueType:
                                            type: string
                                          value:
                                            type: string
                              pattern:
                                type: string
                                description: The pattern used to define the indicator.
                              patternType:
                                type: string
                                description: The type of the pattern (e.g., STIX).
                              validFrom:
                                type: string
                                description: Validity start time of the indicator.
                                format: date-time
                              validUntil:
                                type: string
                                description: Validity end time of the indicator.
                                format: date-time
          '400':
            description: Bad request, possibly due to invalid parameters.
