openapi: 3.0.0
info:
    title: NVD CVE API search
    description: API for retrieving CVE details from the National Vulnerability Database.
    version: "2.0"

servers:
    - url: https://services.nvd.nist.gov/rest/json/cves
    
paths:
    /2.0:
        get:
            operationId: GetNISTcveInfo
            description: Retrieve CVEs from NIST NVD based on multiple filter criteria.
            parameters:
              - name: keywordSearch
                in: query
                description: Returns CVEs where a word or phrase is found in the current description.
                schema:
                  type: string
              - name: keywordExactMatch
                in: query
                description: Filters results to include only CVEs with exact matching phrases in their description.
                schema:
                  type: boolean
              - name: cpeName
                in: query
                description: Returns all CVEs associated with a specific CPE.
                schema:
                  type: string
              - name: cveId
                in: query
                description: Returns a specific CVE by its ID.
                schema:
                  type: string
              - name: cvssV2Metrics
                in: query
                description: Returns CVEs matching a specific CVSSv2 vector string.
                schema:
                  type: string
              - name: cvssV3Metrics
                in: query
                description: Returns CVEs matching a specific CVSSv3 vector string.
                schema:
                  type: string
              - name: cvssV2Severity
                in: query
                description: Returns CVEs matching CVSSv2 qualitative severity rating.
                schema:
                  type: string
                  enum: [LOW, MEDIUM, HIGH]
              - name: cvssV3Severity
                in: query
                description: Returns CVEs matching CVSSv3 qualitative severity rating.
                schema:
                  type: string
                  enum: [LOW, MEDIUM, HIGH, CRITICAL]
              - name: cweId
                in: query
                description: Returns only the CVE that include a weakness identified by the provided CWE-ID.
                schema:
                  type: string
              - name: hasCertAlerts
                in: query
                description: Returns the CVEs that contain a Technical Alert from US-CERT.
                schema:
                  type: boolean
              - name: hasCertNotes
                in: query
                description: Returns the CVEs that contain a Vulnerability Note from CERT/CC.
                schema:
                  type: boolean
              - name: hasKev
                in: query
                description: Returns the CVEs that appear in CISA's KEV Catalog.
                schema:
                  type: boolean
              - name: hasOval
                in: query
                description: Returns the CVEs that contain an OVAL record.
                schema:
                  type: boolean
              - name: isVulnerable
                in: query
                description: Returns only CVEs associated with a specific CPE that is considered vulnerable.
                schema:
                  type: boolean
              - name: lastModStartDate
                in: query
                description: Filter CVEs modified after this date.
                schema:
                  type: string
                  format: date-time
              - name: lastModEndDate
                in: query
                description: Filter CVEs modified before this date.
                schema:
                  type: string
                  format: date-time
              - name: noRejected
                in: query
                description: Exclude CVEs with the REJECT or Rejected status.
                schema:
                  type: boolean
              - name: pubStartDate
                in: query
                description: Filter CVEs published after this date.
                schema:
                  type: string
                  format: date-time
              - name: pubEndDate
                in: query
                description: Filter CVEs published before this date.
                schema:
                  type: string
                  format: date-time
              - name: resultsPerPage
                in: query
                description: Number of results per page.
                schema:
                  type: integer
              - name: startIndex
                in: query
                description: Index of the first result to return.
                schema:
                  type: integer
              - name: sourceIdentifier
                in: query
                description: Returns CVEs with a specific source identifier.
                schema:
                  type: string
              - name: versionEnd
                in: query
                description: Filter CVEs associated with CPEs ending at this version.
                schema:
                  type: string
              - name: versionEndType
                in: query
                description: Specifies if the versionEnd is inclusive or exclusive.
                schema:
                  type:string
              - name: versionStart
                in: query
                description: Filter CVEs associated with CPEs starting from this version.
                schema:
                  type: string
              - name: versionStartType
                in: query
                description: Specifies if the versionStart is inclusive or exclusive.
                schema:
                  type: string
              - name: virtualMatchString
                in: query
                description: Filters CVEs more broadly using a CPE match string.
                schema:
                  type: string
            responses:
              '200':
                description: Successful response with CVE data.
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CVEResponse'
              '400':
                description: Bad request, possibly due to missing or incorrect parameters.
              '404':
                description: The specified CVE or criteria were not found.
              '500':
                description: Server error    .

  c    ompo  nents:
      sch  emas:
        C  VEResponse:
            type: object
            properties:
              resultsPerPage:
                type: integer
                example: 20
              startIndex:
                type: integer
                example: 0
              totalResults:
                type: integer
                example: 245593
              vulnerabilities:
                type: array
                items:
                  $ref: '#/components/schemas/CVEItem'
        C  VEItem:
            type: object
            properties:
              cveId:
                type: string
                example: 'CVE-2019-1010218'
              summary:
                type: string
                example: 'Description of the CVE.'
              publishedDate:
                type: string
                format: date-time
                example: '2019-07-10T00:00:00Z'
              lastModifiedDate:
                type: string
                format: date-time
                example: '2019-08-10T00:00:00Z'
              cvssV2Metrics:
                type: string
                example: 'AV:N/AC:L/Au:N/C:P/I:P/A:P'
              cvssV3Metrics:
                type: string
                example: 'AV:L/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:H'
              severity:
                type: string
                enum: [LOW, MEDIUM, HIGH, CRITICAL]
                example: 'HIGH'
              cweId:
                type: string
                example: 'CWE-287'
              references:
                type: array
                items:
                  type: object
                  properties:
                    source:
                      type: string
                    url:
                      type: string
                    description:
                      type: string
